:root {
    --branding-color:#A95C68;
    --secondary-color:#CBC3E3;
}

body {
    background-color: var(--secondary-color)
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}
p {
    font-family: 'Kalnia', serif;
    font-size: 16px;
    line-height: 30px;
}
h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.5;
}
h2 {
    font-size: 40px;
}
h4 {
    font-weight: 500;
    font-size: 36px;
}

.hero {
    text-align: center;
    padding: 60px 0;
}
.hero p {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}
.hero h2 {
    font-family: 'Kalnia', serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}
.content-container {
    padding: 60px 0;
}
.content-container h1 {
font-size: 64px;
line-height: 80px;
}
.content-container h2 {
    font-size: 18px;
    font-family: 'Kalnia', serif;
    font-weight: 600;

}
.content h3 {
    font-weight: 500;
}
.content {
    margin: 30px;
}
.resource-section {
    background-color: aliceblue;
}

.btn-branding {
    background: var(--branding-color)	;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px;
}
.btn-branding-outline {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 10px;
}
.logo {
    max-width: 100px;
    border: solid 2px;
    border-color: white;
}
.navigation-colour {
    background: white;
    padding: 0 20px;
}
nav {
    padding: 20px 0;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav li {
    display: inline;
    list-style: none;
    line-height: 40px;
    margin-left: 10px
}
nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}
 
nav a:hover,nav li.active a  {
    color: var(--branding-color);

}
footer {
    margin: 60px
}
footer .contact-box {
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
}
footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;

}
footer .email-link:hover {
    color: var(--branding-color);
}
footer .social-links a{
    margin: 10px 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
    color: white;
    background: var(--branding-color);
}
@media (max-width:960px) {
    h1 {
        font-size: 40px;
    }
    h4 {
        font-size: 18px;
      }
    .content-container {
        text-align: center;
    }
    .navigation-colour {
        text-align: center;
    }
  
  
  footer .email-link {
    font-size: 20px;
  }
    .resource-section {
    text-align: center;
    }}