:root {
    --branding-color:#A95C68;
    --secondary-color:#CBC3E3;
}

body {
    background-color: var(--secondary-color)
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}
p {
    font-family: 'Kalnia', serif;
    font-size: 16px;
    line-height: 30px;
}
h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.5;
}
h2 {
    font-size: 40px;
}

.hero {
    text-align: center;
    padding: 60px 0;
}
.hero p {
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}
.hero h2 {
    font-family: 'Kalnia', serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}
.content-container {
    padding: 60px 0;
}
.content-container h1 {
font-size: 64px;
line-height: 80px;
}
.content-container h2 {
    font-size: 18px;
    font-family: 'Kalnia', serif;
    font-weight: 600;

}
.content h3 {
    font-weight: 500;
}
.content {
    margin: 30px;
}
.resource-section {
    background-color: aliceblue;
}

.btn-branding {
    background: var(--branding-color)	;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 12px;
}
.btn-branding-outline {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 10px;
}
@media (max-width:960px) {
    h1 {
        font-size: 40px;
    }
    .content-container {
        text-align: center;
    }
    .resource-section {
    text-align: center;
    }}